@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";

@theme {
  --color-blue: #007acc;
  --color-dark-grey: #1e1e1e;
  --color-grey: #252526;
  --color-light-blue: #1f8ad2;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans 3", monospace;
}

html,
body,
#root {
  height: 100%;
}

.ide {
  font-family: "JetBrains Mono", monospace;
}
